\documentclass[11pt]{resume}
\usepackage[sfdefault,condensed]{roboto} % Use the Roboto font as the default sans-serif font
\renewcommand*\familydefault{\sfdefault} % Set the default font family to sans-serif

%%%
% Personal Info
%%%
\name{ {{- personal_info.name -}} }
\location{ {{- personal_info.location -}} }
\email{ {{- personal_info.email -}} }
\phone{ {{- personal_info.phone -}} }
\linkedin{ {{- personal_info.linkedin -}} }
\github{ {{- personal_info.github -}} }

\begin{document}

%%%
% About
%%%
\begin{rSection}{}
  {{ personal_info.intro -}}
\end{rSection}

%%%
% Skills
%%%
\begin{rSection}{Skills}
  {{ skills|join('\ $\cdot$\ ') }}
\end{rSection}

%%%
% Experience
%%%
\begin{rSection}{Experience}
  {% for exp in work_experience %}
  \begin{rSubsection}{ {{- exp.company -}} }{ {{- exp.start_date }} - {{ exp.end_date -}} }{ {{- exp.position -}} }{ {{- exp.location -}} }
    \grey{
    {%- for item in exp.details %}
      \item {{ item -}}
    {% endfor %}
    }
  \end{rSubsection}
  {% endfor %}
\end{rSection}

%%%
% Education
%%%
\begin{rSection}{Education}
  {% for edu in education %}
  \begin{rSubsection}{ {{- edu.institution -}} }{ {{- edu.start_date }} - {{ edu.end_date -}} }{ {{- edu.degree -}} }{ {{- edu.location -}} }
    \grey{\item {{ edu.details -}} }
  \end{rSubsection}
  {% endfor %}
\end{rSection}


\end{document}
